<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        >
        <title>Weekly report</title>
    </head>
    <body>
        <div class="flex-container text-center align-items-center justify-items-center m-5">
        {% if filename is not None %}
                <a class="btn btn-primary" href="{% url 'download_report' filename=filename %}">Download weekly report (.xlsx)</a>
        {% else %}
                <h1>Извините, отчет не сгенерировался автоматически.</h1>
                <p>Если он не появится через 5 минут, то, пожалуйста, обратитесь к администратору.</p>
        {% endif %}
        </div>

        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"
        ></script>
    </body>
</html>